body {
    color: white;
    background-color: rgb(10, 122, 122);
    font-family: Arial, Helvetica, sans-serif;
}

#interface {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

button {
    height: 35px;
}