body {
    font: normal 15pt Arial;
    background-color: rgb(70, 142, 236);
}

main#interface {
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    text-align: center;
    color: white;
}

section {
    width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.493);
}

footer {
    color: white;
    font-weight: bolder;
    font-style: italic;
    text-align: center;
}